$title-font: 'kontanterbold';

$cbase: #0D1822;
$cgreen: #395216;
$cred: #351412;
$corange: #604500;

* {
  box-sizing: border-box;
}

body {
  background: $cbase;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 100vh;
  font-family: sans-serif;
  position: relative;

  margin: 0 auto;

  @media (max-width: 600px) {
    justify-content: flex-start;
    width: 100%;
  }

}

.main-title {

  display: block;
  text-decoration: none;

  color: rgba(white, .5);

  text-align: center;
  font-family: $title-font;
  text-shadow: rgba(black, .5) 0 4px 0;
  margin-bottom: 5em;

  &:hover {
    h1 {
      text-shadow: none;
      color: $corange;
    }
  }

  @media (max-width: 600px) {
    margin: 1em 0;
  }

  h1 {
    font-size: 48px;
    margin: 0;

    @media (max-width: 600px) {
      font-size: 24px;
    }

    > span {
      display: block;
    }
  }
}

.content {
}

.input-main--container {
  text-align: center;
}

.input-main {
  outline: none;
  font-size: 24px;
  background: rgba(black, .1);
  color: whitesmoke;
  border-top: none;
  border-bottom: 3px solid rgba(black, .3);
  border-left: none;
  border-right: none;
  text-shadow: rgba(black, .3) 0 1px;
  padding: 1em;
  font-family: monospace;
  width: 100%;
  margin-bottom: 1em;

  &:focus {
    box-shadow: rgba(black, .4) 0 4px 5px;
  }

  &.valid {
    border-color: $cgreen;
  }

  &.invalid {
    border-color: $cred;
  }

}

.input-main--submit {
  flex: 1;
}

.helper-container {
  position: absolute;
  > span {
    font-size: 13px;
    padding: .5em;

    &.helper-error {
      background: $cred;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .3);
    }

    &.helper-success {
      background: $cgreen;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .5);
    }
  }
}

.lognuping {
  color: white;
  text-align: center;
}

.quatrecentquatre {
  font-family: $title-font;
  color: rgba(white, 0.4);;
  font-size: 400px;
  transform: rotate(-30deg);
  position: fixed;
  top: 0;
  left: 0;
  &:before {
    content: '4O4';
  }
  & + span {
    padding-top: 100px;
    color: rgba(white, 0.4);
    font-size: 30px;
  }
}
