@import 'variables';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $cblue;
}

body {
  background: $cbase;
  font-family: $light-font;
  color: darken(white, 50);
}

.flex {
  display: flex;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 100vh;
  position: relative;

  margin: 0 auto;

  @media (max-width: 600px) {
    justify-content: flex-start;
    width: 100%;
  }

}

.main-title {

  display: block;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;

  color: rgba(white, .5);

  text-align: center;
  margin-bottom: 5em;

  &:hover {
    h1 {
      text-shadow: none;
      color: $corange;
    }
  }

  @media (max-width: 600px) {
    margin: 1em 0;
  }

  h1 {
    text-shadow: rgba(black, .5) 0 4px 0;
    font-family: $title-font;
    font-size: 48px;
    margin: 0;

    @media (max-width: 600px) {
      font-size: 24px;
    }

    > span {
      display: block;
    }
  }
  h2 {
    margin: 0;
    font-size: 13px;
    color: rgba(white, .3);
  }
}

.content {

  position: relative;

  @media (max-width: 600px) {
    padding: 0 1em;
  }
}

.input-main--container {
  text-align: center;
}

.input-main {
  outline: none;
  font-size: 24px;
  background: rgba(black, .1);
  color: whitesmoke;
  border-top: none;
  border-bottom: 3px solid rgba(black, .3);
  border-left: none;
  border-right: none;
  text-shadow: rgba(black, .3) 0 1px;
  padding: 1em;
  font-family: monospace;
  width: 100%;
  margin-bottom: 1em;

  &:focus {
    box-shadow: rgba(black, .4) 0 4px 5px;
  }

  &.valid {
    border-color: $cgreen;
  }

  &.invalid {
    border-color: $cred;
  }

}

.input-main--submit {
  flex: 1;
}

.input-main--block {
  margin-bottom: 3em;
}

.helper-container {
  position: absolute;
  > span {
    font-size: 13px;
    padding: .5em;

    &.helper-error {
      background: $cred;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .3);
    }

    &.helper-success {
      background: $cgreen;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .5);
    }

    &.helper-info {
      background: $cblue;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .5);
    }
  }
}

.lognuping {
  color: white;
  text-align: center;
}

.quatrecentquatre {
  font-family: $title-font;
  color: rgba(black, 0.2);;
  font-size: 400px;
  transform: rotate(-30deg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  @media (max-width: 600px) {
    top: 100px;
    font-size: 150px;
  }
  &:before {
    content: '404';
    letter-spacing: -85px;
  }
  & + div {
    padding-top: 100px;
    color: rgba(white, 0.8);
    font-size: 30px;
    div {
      margin-top: 20px;
      text-align: center;
      text-shadow: rgba(black, .5) 0 4px 0;
      &:hover {
        i {
          color: white;
          border-color: white;
          box-shadow: none;
        }
      }
      a i {
        padding: 10px;
        box-shadow: rgba(black, .5) 0 4px 0;
        border-radius: 50%;
        color: $corange;
      }
      @media (max-width: 600px) {
        margin-top: 200px;
      }
    }
    @media (max-width: 600px) {
      font-size: 20px;
      padding: 20px;
      margin-top: 50px;
    }
  }
}

.notifications {
  position: fixed;
  z-index: 999;
  user-select: none;
  -webkit-user-select: none;
  right: 1em;
  top: 1em;
  text-align: left;
  font-family: $light-font;

  @media (max-width: 600px) {
    display: none;
  }

  .notifications--container {
    margin: 0 auto;
    width: 350px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.notif {

  padding: .5em;
  border-radius: 2px;
  box-shadow: rgba(black, .2) 0 2px 3px;
  transition: background-color ease-out 100ms;
  cursor: default;
  margin-bottom: .5em;

  &.info {
    background: rgba($cblue, .5);
    color: rgba(white, .3);
    border: 1px solid rgba(white, .05);
    text-shadow: rgba(black, .3) 1px 1px 2px;
    &:hover {
      background: rgba($cblue, .6);
    }
  }

}

.sideback {
  position: fixed;
  top: 0;
  @media (max-width: 600px) {
    display: none;
  }
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}

.icon-spinner8 {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  margin-top: 20px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footer {
  background: rgba(black, .2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
  text-align: center;
  color: rgba(white, .3);
  font-size: 18px;
  a {
    color: rgba(white, .3);
  }
}

.centered {
  text-align: center;
}

.marged {
  margin-bottom: 1em;
}

.form-horiz {
  display: flex;
  > input {
    flex: 5;
    outline: none;
    padding: 1em;
  }
  > button {
    flex: 1;
  }
}

.context-info {
  position: absolute;
  text-align: right;
  top: 5.5em;
  right: 0;
  color: rgba(white, .3);
}

.big-icon {
  font-size: 64px;
  text-align: center;
  color: rgba(white, .2);
  position: relative;
  height: 0;
  i {
    left: auto;
    right: auto;
    display: block;
    margin-top: -150px;
  }
}

.floating-snip {
  position: absolute;
  left: 0;
  top: -2em;
}

.glass-link {
  background: rgba(lighten($cbase, 2), .5);
  padding: 1em;
  z-index: 1;
  &:hover {
    background: rgba(lighten($cbase, 2), .9);
  }
}

@import "zava-input";
@import "cubes";
