@import "variables";

.zava-input {

  width: 100%;

  input[type=text],
  input[type=email] {

    outline: none;

    padding: 1em;
    width: 100%;

    background: darken($cbase, 2);
    color: darken(white, 45);
    font-family: inherit;

    border-top: none;
    border-bottom: 3px solid rgba(black, .3);
    text-shadow: rgba(black, .5) 0 2px 3px;
    border-left: none;
    border-right: none;

    &:focus {
      box-shadow: rgba(black, .4) 0 4px 5px;
    }

    &.valid {
      border-color: $cgreen;
    }

    &.invalid {
      border-color: $cred;
    }

  }

  &.big {

    input[type=text],
    input[type=email] {

      font-size: 24px;
      font-family: monospace;

    }

  }

}

.zava-button {
  border: 1px solid rgba(white, 0.05);
  padding: 10px;
  box-shadow: rgba(black, 0.2) 0 0 2px;
  outline: none;
  i {
    color: inherit !important;
  }
  &.danger {
    background: $cred;
    &:hover {
      background: rgba($cred, .8);
    }
  }
  &.info {
    background: $cgreen;
    &:hover {
      background: rgba($cgreen, .8);
    }
  }
}

.zava-input--helpers {

  height: 2em;
  margin: .5em 0 1.5em 0;
  position: relative;

  > .zava-input--helper {

    cursor: default;
    user-select: none;
    -webkit-user-select: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 13px;
    padding: .5em;

    background: $cblue;
    border: 1px solid rgba(white, .05);
    box-shadow: rgba(black, .2) 0 0 2px;
    color: rgba(white, .5);

    &.error {
      background: $cred;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .3);
    }

    &.success {
      background: $cgreen;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .5);
    }

    &.info {
      background: $cblue;
      border: 1px solid rgba(white, .05);
      box-shadow: rgba(black, .2) 0 0 2px;
      color: rgba(white, .5);
    }

  }

}

.zava-countryadd {
  .zava-input {
    width: 45%;
  }
  [type=button] {
    width: 10%;
  }
  .zava-input + .zava-input,
  .zava-input + .zava-button {
    margin-left: 10px;
  }
}

.zava-countrylist {
  list-style: none;
  padding: 0;
  > div {
    padding: 15px 0;
  }
  div div {
    flex: 1;
  }
  div + div {
    border-top: 1px solid rgba(white, 0.3);
  }
}

.zava-switch {
  margin-bottom: 20px;
  > span {
    width: 50%;
    height: 40px;
    cursor: pointer;
    background: #0a131b;
    border: 1px solid rgba(#0a131b, .5);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    *:first-child {
      flex: 1;
    }
    &.active {
      color: $cgreen;
      outline: 1px solid $cgreen;
    }
  }
  span + span {
    margin-left: 20px;
  }
}

.zavinsible {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  width: 250px;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  > input {
    margin-right: 5px;
  }
}

i.icon-bin {
  cursor: pointer;
  &:hover {
    color: $cred;
  }
}
