<h1 class="main-title">
  <span>FuGITIvE</span>
</h1>

<div class="container">

  <div class="lognup-form" style="margin-bottom: 1em; border: 1px solid red;">
    <form ng-submit="vm.lognup()">

      <input type="email"
             ng-model="vm.user.email"
             ng-model="user.email"
             placeholder="email"/>

      <button type="submit">
        Lognup
      </button>

    </form>
  </div>
  <div class="lognup-form" style="margin-bottom: 1em; border: 1px solid red;">
    <form ng-submit="vm.lognupFake()">

      <input type="text"
             ng-model="vm.uuid"
             placeholder="vm.uuid"/>

      <button type="submit">
        Lognup fake
      </button>

    </form>
  </div>

  <div class="input-main--container">
    <input class="input-main" type="text"/>
  </div>

</div>
