<div class="notifications">
  <div class="notifications--container">
    <div class="notif info anim-rightout" ng-if="vm.ui.isNotif">
      Fugitive transform your links into unique usage links, who will radically destroy
      themselves after utilisation.
    </div>
  </div>
</div>

<a class="main-title anim-topout" href="/" ng-if="vm.ui.isLogo">
  <h1>
    <span>FuGITIvE</span>
  </h1>
  <h2>no ads. no bullshit. real privacy.</h2>
</a>

<form ng-submit="vm.genLink()" name="linkform">
  <div class="content anim-botout" ng-if="vm.ui.isInput">

    <div class="input-main--block">

      <div class="zava-input big">

        <input type="text"
               focus-me="true"
               select-on-creation
               name="src"
               ng-class="{ valid: linkform.src.$valid, invalid: (linkform.src.$invalid && linkform.src.$dirty) }"
               ng-model="vm.link.dst"
               required
               ng-pattern="vm.urlValidate"/>

        <zava-cubes class="zava-cubes"></zava-cubes>

        <div class="zava-input--helpers">
          <div class="zava-input--helper error anim-fade"
               ng-if="linkform.src.$invalid && linkform.src.$dirty">
            Bad URL
          </div>
          <div class="zava-input--helper success anim-fade"
               ng-if="linkform.$valid && !vm.isUnchanged()">
            Press ENTER
          </div>
          <div class="zava-input--helper info anim-fade"
               ng-if="linkform.src.$pristine">
            Enter an URL
          </div>
        </div>

      </div>

      <button class="input-main--submit"
              type="submit"
              ng-show="false"
              ng-disabled="linkform.$invalid">
        create
      </button>

    </div>

    <div class="centered">
      <a href="" ng-click="vm.destroyGo('/profile')" class="glass-link" ng-if="auth.isLogged()">
        <i class="icon-user"></i>
        Profile
      </a>
      <a href="" ng-click="vm.destroyGo('/lognup')" class="glass-link" ng-if="!auth.isLogged()">
        <i class="icon-user"></i>
        Lognup for more features
      </a>
    </div>

  </div>
</form>
<div class="footer">
  <a target="_blank" href="https://github.com/42Zavattas/Fugitive">
    <i class="icon-github4"></i>
  </a>
</div>
