<img class="sideback left" src="assets/explode2.png" alt=""/>
<img class="sideback right" src="assets/explode.png" alt=""/>

<div class="notifications">
  <div class="notifications--container">
    <div class="notif info">
      Lognup is an unified Login / Signup processus.
    </div>
  </div>
</div>

<div class="big-icon">
  <i class="icon-envelope"></i>
</div>

<div class="content centered">

  <a class="floating-snip" href="/">
    <i class="icon-undo2"></i>
    Home
  </a>

  <form ng-submit="vm.lognup()" class="form-horiz" name="lognupform">

    <div class="zava-input">

      <input type="email"
             required
             ng-class="{ valid: lognupform.email.$valid, invalid: (lognupform.email.$invalid && lognupform.email.$dirty) }"
             name="email"
             ng-model="vm.user.email"
             focus-me="true"/>

      <div class="zava-input--helpers">
        <span class="zava-input--helper error" ng-if="lognupform.email.$invalid && lognupform.email.$dirty">
          Invalid email
        </span>
        <span class="zava-input--helper success" ng-if="lognupform.$valid">
          Email is valid
        </span>
        <span class="zava-input--helper info" ng-if="lognupform.email.$pristine">
          Simply enter you email and we'll send you your connexion link.
        </span>
      </div>

    </div>

    <button ng-if="false">Lognup</button>

  </form>

  <p ng-if="vm.status == 'OK'" class="context-info">
    Mail has been sent.
  </p>

</div>
