<div class="notifications">
  <div class="notifications--container">
    <div class="notif info">
      Lognup is an unified Login / Signup processus.
    </div>
  </div>
</div>

<div class="big-icon">
  <i class="icon-envelope"></i>
</div>

<div class="content centered">

  <a class="floating-snip" href="/">
    <i class="icon-undo2"></i>
    Home
  </a>

  <form ng-submit="vm.lognup()" class="form-horiz" name="lognupform">

    <input type="email"
           required
           ng-class="{ valid: lognupform.email.$valid, invalid: (lognupform.email.$invalid && lognupform.email.$dirty) }"
           class="input-main"
           name="email"
           ng-model="vm.user.email"
           focus-me="true"/>

    <button ng-if="false">Lognup</button>

  </form>

  <div class="helper-container">
    <span class="helper-error" ng-if="lognupform.email.$invalid && lognupform.email.$dirty">
      Invalid email
    </span>
    <span class="helper-success" ng-if="lognupform.$valid">
      Email is valid
    </span>
    <span class="helper-info" ng-if="lognupform.email.$pristine">
      Simply enter you email and we'll send you your connexion link.
    </span>
  </div>

  <p ng-if="vm.status == 'OK'" class="context-info">
    Mail has been sent.
    <br/>
    <a ng-href="{{ vm.mockLink }}">Here is the link</a>
  </p>

</div>
