<div class="content">
  <em>My links</em>
  <div>
    <div ng-repeat="link in vm.links">
      <code>http://fugitive.link/{{ link.src }}</code>
      <span>{{ link.dst }}</span>
      <i class="icon-bin" ng-click="vm.delete(link)"></i>
    </div>
  </div>

  <button ng-click="vm.create()">ADD</button>
  <input type="text" ng-model="newLink.dst">
  <input type="number" ng-model="newLink.num">
  <input type="text" ng-model="newLinx.spl">
  ---
  <input ng-model="newLink" type="text" placeholder="country">
  <input type="text" placeholder="replace">
  <div ng-repeat="geo in link.geo"> {{ geo }}</div>
</div>
