<div class="fixed-left">
  <a href="/">
    <i class="icon-undo2"></i>
    home
  </a>
</div>

<div class="content">

  <h1>My account</h1>
  <p>Sorry, the only option you'll find here is the following. Remember, this action is irreversible and will not delete your not-expired links. No whining tolerated.</p>
  <button ng-click="vm.deleteMyAccount()" class="zava-button danger">
    Delete me <i class="icon-bin"></i>
    </button>

  <h1>My links</h1>
  <div>
    <table ng-if="vm.links.length" class="zava-table">
      <tr>
        <th>Link</th>
        <th>Expiration</th>
        <th colspan="2">Destination</th>
      </tr>
      <tr ng-repeat="link in vm.links">
        <td><input value="http://fugitive.link/{{ link.src }}" select-on-creation readonly class="zavinsible" type="text"></td>
        <td ng-if="link.exp">{{ link.exp | date: 'HH:mm dd/MM/yyyy' }}</td>
        <td ng-if="link.num && !link.exp">{{ link.num }}</td>
        <td>{{ link.dst }}</td>
        <td><i class="icon-bin" ng-click="vm.delete(link)"></i></td>
      </tr>
    </table>
    <div ng-if="!vm.links.length">
      Nothing for now, create a custom link by using the following form.
    </div>
  </div>

  <h1>Create new</h1>

  <form ng-submit="vm.create()" name="createForm">

    <div class="zava-input">
      <input type="text" ng-model="vm.newLink.dst" name="dst" required>

      <div class="zava-input--helpers">

        <div class="zava-input--helper error" ng-if="createForm.dst.$invalid">
          Please enter a destination link.
        </div>

        <div class="zava-input--helper info" ng-if="createForm.dst.$valid">
          Enter the link destination
        </div>
      </div>
    </div>

    <hr>
    <h3 class="emphasied">The following options are all optional</h3>

    <div class="zava-switch flex">
      <span ng-class="{ active: vm.mode === 'hit' }" ng-click="vm.switchMode('hit')">
        <span>Hit cap</span> <i class="icon-link"></i>
      </span>
      <span ng-class="{ active: vm.mode === 'time' }" ng-click="vm.switchMode('time')">
         <i class="icon-hour-glass"></i> <span>Time</span>
      </span>
    </div>

    <div ng-show="vm.mode === 'hit'" class="zava-input">
      <input ng-pattern="/^[0-9]+$/" type="text" ng-model="vm.newLink.num" name="num">

      <div class="zava-input--helpers">
        <div class="zava-input--helper error" ng-if="createForm.num.$invalid || vm.newLink.num == 0">
          This number is invalid.
        </div>
        <div class="zava-input--helper info" ng-if="createForm.num.$valid && vm.newLink.num != 0">
          Enter the link hit number cap
        </div>
      </div>
    </div>

    <div ng-show="vm.mode === 'time'" class="zava-input">

      <div class="flex between">
        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="none">
          None
        </label>

        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="5">
          5 minutes
        </label>

        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="30">
          30 minutes
        </label>

        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="60">
          1 hour
        </label>

        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="1440">
          24 hour
        </label>

        <label>
          <input ng-model="vm.newLink.time" type="radio" name="time" value="10080">
          1 week
        </label>
      </div>


      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Select the link expiration time
        </div>
      </div>
    </div>

    <div class="zava-input">
      <input type="text" ng-model="vm.newLink.rpl">

      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Enter a new destination upon expiration
        </div>
      </div>
    </div>

    <h3>Country overrides</h3>

    <p>
      Easily change your link behaviour depending on the user location.
    </p>

    <div class="flex zava-countryadd">
      <div class="zava-input">
        <input ng-enter="vm.addGeo()" type="text" ng-model="vm.newGeo.country" name="country">
      </div>
      <div class="zava-input">
        <input ng-enter="vm.addGeo()" type="text" ng-model="vm.newGeo.rpl" name="countryRpl">
      </div>
      <input type="button" ng-click="vm.addGeo()" value="+" class="zava-button info">
    </div>

    <div class="zava-input--helpers">
      <div class="zava-input--helper error" ng-if="(vm.newGeo.country.length > 0 && !vm.newGeo.rpl.length) || (vm.newGeo.rpl.length > 0 && !vm.newGeo.country.length)">
        You should enter a country and an associated link.
      </div>

      <div class="zava-input--helper info" ng-if="!(vm.newGeo.country.length > 0 && !vm.newGeo.rpl.length) || (vm.newGeo.rpl.length > 0 && !vm.newGeo.country.length)">
        Set the country code and the redirect link, then click add.
      </div>
    </div>

    <div class="zava-countrylist">
      <div ng-repeat="geo in vm.newLink.geo" class="flex">
        <div>
          {{ geo.country }} <strong>to</strong> {{ geo.rpl }}
        </div>
        <i class="icon-bin" ng-click="vm.removeGeo(geo.country)"></i>
      </div>
    </div>

    <button type="submit" ng-show="false">ADD</button>

  </form>
</div>
