<div class="content">
  <h1>My account</h1>
  <p>Sorry, the only option you'll find here is the following. Remember, this action is irreversible and will not delete your not-expired links. No whining tolerated.</p>
  <button ng-click="vm.deleteMyAccount()">Delete me <i class="icon-bin"></i></button>
  <h1>My links</h1>
  <div>
    <div ng-repeat="link in vm.links">
      <input value="http://fugitive.link/{{ link.src }}" select-on-creation readonly class="zavinsible" type="text">
      to
      <span>{{ link.dst }}</span>
      <i class="icon-bin" ng-click="vm.delete(link)"></i>
    </div>
    <div ng-if="!vm.links.length">
      Nothing for now, create a custom link by using the following form.
    </div>
  </div>

  <h1>Create new</h1>

  <form ng-submit="vm.create()">

    <div class="zava-input">
      <input type="text" ng-model="vm.newLink.dst">

      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Enter the link destination
        </div>
      </div>
    </div>


    <div class="zava-input">
      <input type="text" ng-model="vm.newLink.num">

      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Enter the link hit number cap
        </div>
      </div>
    </div>

    <div class="zava-input">

      <label>
        <input ng-model="vm.newLink.time" type="radio" name="time">
        5 minutes
      </label>

      <label>
        <input ng-model="vm.newLink.time" type="radio" name="time">
        30 minutes
      </label>

      <label>
        <input ng-model="vm.newLink.time" type="radio" name="time">
        1 hour
      </label>

      <label>
        <input ng-model="vm.newLink.time" type="radio" name="time">
        24 hour
      </label>

      <label>
        <input ng-model="vm.newLink.time" type="radio" name="time">
        1 week
      </label>

      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Select the link expiration time
        </div>
      </div>
    </div>

    <div class="zava-input">
      <input type="text" ng-model="vm.newLink.rpl">

      <div class="zava-input--helpers">
        <div class="zava-input--helper info">
          Enter a new destination upon expiration
        </div>
      </div>
    </div>

    <h3>Country overrides</h3>

    <p>
      Easily change your link behaviour depending on the user location.
    </p>

    <div class="flex zava-countryadd">
      <div class="zava-input">
        <input ng-enter="vm.addGeo()" type="text" ng-model="vm.newGeo.country">
      </div>
      <div class="zava-input">
        <input ng-enter="vm.addGeo()" type="text" ng-model="vm.newGeo.rpl">
      </div>
      <input type="button" ng-click="vm.addGeo()" value="+">
    </div>

    <div class="zava-input--helpers">
      <div class="zava-input--helper info">
        Set the country code and the redirect link, then click add.
      </div>
    </div>

    <div class="zava-countrylist">
      <div ng-repeat="geo in vm.newLink.geo" class="flex">
        <div>
          {{ geo.country }} <strong>to</strong> {{ geo.rpl }}
        </div>
        <i class="icon-bin" ng-click="vm.removeGeo(geo.country)"></i>
      </div>
    </div>

    <button type="submit" ng-show="false">ADD</button>

  </form>
</div>
